{% extends 'base.html.twig' %}
{% block title %}Add Details Destination{% endblock %}
{% block header %}
    <div class="row row-mt-15em">

    <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
        <h1>Add Details Destination</h1>
    </div>

</div>
{% endblock %}
{% block body %}
    {% if app.user %}
        {% if app.user.getRoles()[0]!="admin" %}
            <script> window.location.href ="{{ path('index')}}"</script>
        {% endif %}
    {% else %}
        <script> window.location.href ="{{ path('index')}}"</script>
    {% endif %}




{% endblock %}

